@page "/clubs"
@inject HttpClient Http

<h3>Available Golf Clubs</h3>

@if (clubs == null)
{
    <p><em>Loading clubs...</em></p>
}
else if (!clubs.Any())
{
    <p>No clubs found.</p>
}
else
{
    <ul>
        @foreach (var club in clubs)
        {
            <li>
                <a href="@($"/club/{club.Id}")">@club.Name</a> - @club.Location (@club.Type)
            </li>
        }
    </ul>
}

@code {
    private List<ClubRead>? clubs;

    protected override async Task OnInitializedAsync()
    {
        clubs = await Http.GetFromJsonAsync<List<ClubRead>>("api/GolfClub");
    }
}
